/*
  Author: Claudio Garaycochea
  Task: Support Smart TVs

  SmartTV Full HD 1920 x 1080
  SmartTV 4k 3840 x 2160
  SmartTV 8k 7680 x 4320
*/

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html,
body { 
    background-color: #222222; 
    line-height: 1.5em;
    font-size: 16px;
    color: #e8e8e8;
    display: block;
    margin: 0px;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

header {
    width: 100%;
    height: 3em;
    background: #222222;
    padding: .7em;
    z-index: 100;
    position: absolute;
}

.content-wrapper {
    position: absolute;
    top: 3em;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.content-wrapper.bg-blur {
    background: rgb(58, 19, 76);
}

.content-wrapper.full{
    top: 0em;
}

section {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
}

section.section-aside {
    width: 75%;
}

aside {
    height: 100%;
    width: 25%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
}

nav.aside-menu {
    height: 100%;
}

nav.aside-menu ul{
    height: 100%;
    margin: 0;
    padding: 0;
}

nav.aside-menu li{
    border-bottom: 1px solid #3e3e3e;
    height: 25%;
    width: 100%;
    display: block;
    color: #FFFFFF;
    font-size: 1.5em;
    padding: 1em;
}

nav.main-menu {
    height: 100%;
    margin: 4em auto;
    text-align: center;
}

nav.main-menu ul{
    height: 100%;
    margin: 0;
    padding: 0;
}

nav.main-menu li{
    height: 25%;
    width: 20%;
    display: inline-block;
    border: 1px solid #3e3e3e;
    color: #FFFFFF;
    padding: 1em;
    font-size: 1.5em;
    display: inline;
}

[class^="icon-"],
[class*=" icon-"],
[class^="button-"],
[class*=" button-"],
[class^="logo-"],
[class*=" logo-"]  {
    vertical-align: middle;
    display: inline-block;
    background-repeat: no-repeat;
}

.logo-big {
    width: 12em;
    height: 10em;
    background-image: url(../img/logo-big.png);
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (min-width:1900px) {  
    body {
        font-size: 1.5em;
    }
}

@media screen and (min-width:3840px) {  
    body {
        font-size: 3em;
    }
}

@media screen and (min-width:7000px) {  
    body {
        font-size: 6em;
    }
}

.bg-car{
    /*background-image: url(../img/car1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;*/
}

.bg-link{
    background-image: url(../img/car1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}


.main-menu a.sharesmarttv-selected, .aside-menu a.sharesmarttv-selected{
    border: 0 solid;
    padding: 0 !important;
    box-shadow: 0 0 !important;
}

a {
    text-decoration: none;
}

a.sharesmarttv-selected li{
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease-in-out;
    -moz-border-radius: 0em;
    -webkit-border-radius: 0em;
    border-radius: 0em;
    box-shadow: inset 0em 0em 0.2em 0.2em #00a3ff;
    border: 1px solid #00a3ff;
    color: #FFFFFF;
}
.align-center {
    text-align: center;
    border: 1px solid red;
}

.center {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    text-align: center;
}

.center-content {
    text-align: center;
    max-width: 60%;
}

.section-aside .center-content {
    text-align: center;
    max-width: 80%;
}

.center-content.full {
    width: 100%;
    max-width: none;
}

.home-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
/*
.home-menu .item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0.2em;
    height: 5em;
    margin: 0.2em;
    color: #FFFFFF;
    font-size: 1.5em;
}

.home-menu .item a {
    border: 1px solid #00dfa5;
    color: #FFFFFF;
}
*/
/* reset sharesmarttv-selected */
/*.sharesmarttv-selected {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease-in-out;
    -moz-border-radius: 0em !important;
    -webkit-border-radius: 0em !important;
    border-radius: 0em !important;
    box-shadow: 0em 0em !important;
    padding: 0 !important; 
}*/
/*
.item a.sharesmarttv-selected {
    height: 100%;
    width: 100%;
}
*/
.flex .center-vh {
    -ms-flex-align: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    text-align: center;
}

.aside-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.aside-menu .item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 12px;
    border: 3px solid red;
    height: 10em;
}

a {
    color: orange;
    text-decoration: none;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;   
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

footer {
    font-size: 0.8em;
    margin-top: 2em;
    position: absolute;
    bottom: 0;
    right: 10px;
    margin: 0 auto;
}

.btn {
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    border: 0;
    color:#FFFFFF;
    max-width: 350px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn [class^="icon-"].space,
.btn [class*=" icon-"].space {
    margin-right: 5px;
}

.btn.small{
    padding: 2px 5px;
    font-size: 11px;
}
.btn.xmedium{
    padding: 6px 20px;
    font-size: 14px;
}
.btn.medium{
    padding: 10px 20px;
    font-size: 15px;
}
.btn.large{
    padding: 14px 30px;
    font-size: 20px;
    display: inline-block;
    margin: 0 auto;
}
.btn.xlarge{
    padding: 5px 30px;
    font-size: 20px;
    display: inline-block;
    margin: 0 auto;
}
.btn.transparent{
    background-color: transparent;
}
.btn.blue{
    background-color: #3BBAE2; 
}
.btn.blue-strong{
    background-color: #455868;
}
.btn.red{
    background-color: #32dea6;
}
.btn.black{
    background-color: #353f44;
}
.btn.green {
    background-color: #76cf9b;
}

.music-youtube {
    display: none;
}

.progress-bar {
    border: 1px solid black;
    width: 40em;
    height: 2em;
}

.youtube-time {
    width: 100%;
    height: 4em;
    background: #222222;
    z-index: 100;
    position: absolute;
    bottom: 0;
}
.youtube-time .time{
    border: 20px solid red;
}
.youtube-time .time-wrapper {
    position: absolute;
    top: 10px;
    right: 20px;
}

.hero-home {
    width: 60%;
}